/* Style de base pour le conteneur */
.container {
    width: 80%;
    margin: auto;
    padding: 20px;
}

/* Styles pour les boutons */
.btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
.btn-danger {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    background-color: #ff0000;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
.btn-warning{
display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    background-color: #ffc107;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: #0056b3;
}

/* Styles pour les titres */
h1 {
    color: #333;
}

/* Styles pour les tables */
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Sidebar style */
.sidebar {
    float: left;
    width: 20%;
    background-color: #f0f0f0;
    padding: 20px;
}

.main-content {
    float: right;
    width: 75%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Statistic boxes */
.statistic {
    margin: 20px 0;
    padding: 20px;
    background-color: #fafafa;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.message {
    color: red;
    margin: 10px 0;
}
/* Styles pour les sélecteurs */
select {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* Styles pour les champs de texte */
input[type="text"] {
    width: 80%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}
 dialog {
            padding: 20px;
            border: 1px solid #ccc;
        }
        .dialog-actions {
            display: flex;
            justify-content: flex-end;
        }
        .dialog-actions button {
            margin-left: 10px;
        }
