<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="Fr">
<head>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Liste des associations</title>
</head>
<body class="container">
<h1>Liste des associations</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Nom</th>
        <th>Zone</th>
        <th>Actions</th>
    </tr>
    <tr th:each="association : ${associations}">
        <td th:text="${association.idAssociation}"></td>
        <td th:text="${association.nomAssociation}"></td>
        <td th:text="${association.zone?.nomZone}"></td>
        <td>
            <a class="btn" th:href="@{/associations/{id}(id=${association.idAssociation})}">Détails</a>
            <a class="btn" th:href="@{/associations/{id}/edit(id=${association.idAssociation})}">Modifier</a>
            <a class="btn" th:href="@{/associations/{id}/delete(id=${association.idAssociation})}">Supprimer</a>
        </td>
    </tr>
</table>
<a class="btn" href="/associations/new">Ajouter une nouvelle association</a>
</body>
</html>
