<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Détails de l'association</title>
</head>
<body>
<h1>Détails de l'association</h1>
<p>ID : <span th:text="${association.idAssociation}"></span></p>
<p>Nom : <span th:text="${association.nomAssociation}"></span></p>
<p>Zone : <span th:text="${association.zone?.nomZone}"></span></p>
<a th:href="@{/associations/{id}/edit(id=${association.idAssociation})}">Modifier</a>
<a th:href="@{/associations}">Retour à la liste</a>
</body>
</html>