<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Créer une nouvelle zone</title>
</head>
<body class="container">

<h1>Créer une nouvelle zone</h1>
<form class="container" th:action="@{/zones}" th:object="${zone}" method="post">
    <label for="nomZone">Nom :</label>
    <input type="text" id="nomZone" th:field="*{nomZone}"/>
    <br/>

    <button type="submit" class="btn">Enregistrer</button>
</form>
<a class="btn" th:href="@{/zones}">Retour à la liste</a>
</body>
</html>
