<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Modifier le transfert</title>
</head>
<body class="container">
<h1>Modifier le transfert</h1>
<form th:action="@{/transfers/{id}(id=${transfer.idTransfert})}" th:object="${transfer}" method="post">
    <input type="hidden" th:field="*{idTransfert}"/>

    <label for="joueur">Joueur :</label>
    <select id="joueur" th:field="*{joueur.idJoueur}">
        <option th:each="player : ${players}" th:value="${player.idJoueur}" th:text="${player.nom}"></option>
    </select>

    <br/>

    <label for="associationArrive">Association d'arrivée :</label>
    <select id="associationArrive" th:field="*{associationArrive.idAssociation}">
        <option th:each="association : ${associations}" th:value="${association.idAssociation}" th:text="${association.nomAssociation}"></option>
    </select>
    <br/>

    <label for="associationDepart">Association de départ :</label>
    <select id="associationDepart" th:field="*{associationDepart.idAssociation}">
        <option th:each="association : ${associations}" th:value="${association.idAssociation}" th:text="${association.nomAssociation}"></option>
    </select>
    <br/>

    <label for="dateTransfert">Date de transfert :</label>
    <input type="date" id="dateTransfert" th:field="*{dateTransfert}"/>
    <br/>

    <button type="submit" class="btn">Enregistrer</button>
</form>
<a class="btn" th:href="@{/transfers}">Retour à la liste</a>
</body>
</html>