<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Détails du joueur</title>
</head>
<body class="container">
<h1>Détails du joueur</h1>
<p>Photo :</p>
<img th:src="@{'/uploads/' + ${player.photo}}" alt="Photo du joueur" style="width: 150px; height: 150px;"/>

<p>ID : <span th:text="${player.idJoueur}"></span></p>
<p>Numéro d'identité : <span th:text="${player.numeroIdentite}"></span></p>
<p>Nom : <span th:text="${player.nom}"></span></p>
<p>Date de naissance : <span th:text="${player.dateDeNaissance}"></span></p>
<p>Lieu de naissance : <span th:text="${player.lieuDeNaissance}"></span></p>
<p>Téléphone : <span th:text="${player.telephone}"></span></p>
<p>Résidence : <span th:text="${player.residence}"></span></p>
<p>Association : <span th:text="${player.association?.nomAssociation}"></span></p>
<a class="btn" th:href="@{/players/{id}/edit(id=${player.idJoueur})}">Modifier</a>
<a class="btn" th:href="@{/players}">Retour à la liste</a>
</body>
</html>
