<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title>Liste des joueurs</title>
</head>
<body class="container">
<h1>Liste des joueurs</h1>
<a class="btn" href="/players/new">Ajouter un nouveau joueur</a>
<table>
    <tr>
        <th>ID</th>
        <th>Numéro d'identité</th>
        <th>Nom</th>
        <th>Date de naissance</th>
        <th>Lieu de naissance</th>
        <th>Téléphone</th>
        <th>Résidence</th>
        <th>Association</th>
        <th>Actions</th>
    </tr>
    <tr th:each="player : ${players}">
        <td th:text="${player.idJoueur}"></td>
        <td th:text="${player.numeroIdentite}"></td>
        <td th:text="${player.nom}"></td>
        <td th:text="${player.dateDeNaissance}"></td>
        <td th:text="${player.lieuDeNaissance}"></td>
        <td th:text="${player.telephone}"></td>
        <td th:text="${player.residence}"></td>
        <td th:text="${player.association?.nomAssociation}"></td>
        <td>
            <a class="btn" th:href="@{/players/{id}(id=${player.idJoueur})}">Détails</a>
            <a class="btn-warning" th:href="@{/players/{id}/edit(id=${player.idJoueur})}">Modifier</a>
            <a sec:authorize="hasAnyAuthority('ADMIN')" class="btn btn-danger" href="javascript:void(0);" th:onclick="'confirmDelete(' + ${player.idJoueur} + ')'">
                Supprimer
            </a>
        </td>
    </tr>
</table>
<div class="parameters" >

<a class="btn" th:href="@{/dashboard}">Retour au menu</a>
</div >

<script th:inline="javascript">
    function confirmDelete(idJoueur) {
        Swal.fire({
            title: "Êtes-vous sûr ?",
            text: "Cette action est irréversible !",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Oui, supprimer !",
            cancelButtonText: "Annuler"
        }).then((result) => {
            if (result.isConfirmed) {
                fetch('/players/' + idJoueur + '/delete', {
                    method: 'POST'
                }).then(response => {
                    if (response.ok) {
                        Swal.fire({
                            title: "Supprimé !",
                            text: "joueur a bien été supprimé.",
                            icon: "success"
                        }).then(() => {
                            location.reload(); // Reload page after deletion
                        });
                    } else {
                        Swal.fire({
                            title: "Erreur !",
                            text: "La suppression a échoué, verifiez que l'element que vous essayez de supprimer n'est pas relier à un enregistrement.",
                            icon: "error"
                        });
                    }
                }).catch(error => {
                    console.error('Erreur:', error);
                    Swal.fire({
                        title: "Erreur !",
                        text: "Une erreur est survenue lors de la suppression.",
                        icon: "error"
                    });
                });
            }
        });
    }
</script>
</body>
</html>
