<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Liste des transferts</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body class="container">

<div style="text-align: center;"><h1>Liste des transferts</h1></div>
<a sec:authorize="hasAnyAuthority('ADMIN')" class="btn" href="/transfers/new">Ajouter un nouveau transfert</a>
<table>
    <tr>
        <th>ID</th>
        <th>Joueur</th>
        <th>Association d'arrivée</th>
        <th>Association de départ</th>
        <th>Date de transfert</th>
        <th>Actions</th>
    </tr>
    <tr th:each="transfer : ${transfers}">
        <td th:text="${transfer.idTransfert}"></td>
        <td th:text="${transfer.joueur.nom}"></td>
        <td th:text="${transfer.associationArrive.nomAssociation}"></td>
        <td th:text="${transfer.associationDepart.nomAssociation}"></td>
        <td th:text="${transfer.dateTransfert}"></td>
        <td>
            <a class="btn" th:href="@{/transfers/{id}(id=${transfer.idTransfert})}">Détails</a>
            <a class="btn-warning" th:href="@{/transfers/{id}/edit(id=${transfer.idTransfert})}">Modifier</a>
            <a class="btn-danger" th:href="@{/transfers/{id}/delete(id=${transfer.idTransfert})}">Supprimer</a>
        </td>
    </tr>
</table>

<a  class="btn" href="/dashboard">Retourner au menu</a>
</body>
</html>