<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Liste des zones</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body class="container">
<div style="text-align: center;">
    <h1>Liste des zones</h1>
</div>
<a sec:authorize="hasAnyAuthority('ADMIN')" class="btn" href="/zones/new">Ajouter une nouvelle zone</a>
<table>
    <tr>
        <th>ID</th>
        <th>Nom</th>
        <th>Actions</th>
    </tr>
    <tr th:each="zone : ${zones}">
        <td th:text="${zone.idZone}"></td>
        <td th:text="${zone.nomZone}"></td>
        <td>
            <a class="btn" th:href="@{/zones/{id}(id=${zone.idZone})}">Détails</a>
            <a class="btn" th:href="@{/zones/{id}/edit(id=${zone.idZone})}">Modifier</a>
            <a class="btn" th:href="@{/zones/{id}/delete(id=${zone.idZone})}">Supprimer</a>
        </td>
    </tr>
</table>

<a  class="btn" href="/dashboard">Retourner au menu</a>

</body>
</html>
